/**
 * Miscellaneuos styles and rules of FTT project
 */
.submitted {
	font-style: italic;
	font-size: .9em;
}

/**
 * Quiz elements
 */
.quiz-start-link {
	@include button(color(red));
	margin-bottom: 20px;
}

.question_type_name {
	color: color('grey-dark');
	font-style: italic;
	font-size: .9em;
}

.multichoice-row {
	td:first-child {
		text-align: center;
	}
}

.layout-swap__top {
	background-color: color('navbar');
}

/**
 * Hamburger icon
 */
 a#main-menu {
 	text-decoration: none;
  color: #fff;
  font-size: $mobile-nav-height;
  font-weight: bold;
  line-height: 1em;
  float: right;
 }

 /**
  *  'My tests' and 'My questions' views
  */
  .view-my-tests,
  .view-my-questions {
    .views-row {
      border: 1px solid color('border');
      border-radius: 5px;
      padding: 10px 10px 0;
      margin-bottom: 10px;

      &:hover {
        background-color: color('blue-light');
      }

      .views-field {
        margin-bottom: 10px;

        input {
          margin-bottom: 0;
        }

        @include respond-to(xs) {
          display: inline-block;
          margin-right: 20px;
        }
      }

      .views-field-title {
        font-weight: bold;
        font-size: 1.2em;

        @include respond-to(xs) {
          width: 70%;
        }
      }

      .views-field-nid,
      .views-field-edit-node {
        @include button(color('blue'));

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
